<!DOCTYPE html>
<html>

<head>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <form class="skilletForm" role="form" id="login" action="login" method="post">
        <h2 class="header">Please sign in</h2>
        <input 
            type="email" 
            class="form-control" 
            placeholder="Email address" 
            name="email" 
            required="" 
            autofocus=""
        />
        <input type="password" class="form-control" placeholder="Password" name="password" required="" value="">
        <% if (typeof error !== "undefined") { %>
            <div class="formError"><%= error %></div>
        <% } %>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a href="register" class="btn btn-lg btn-primary btn-block">Register</a>
    </form>


    <img class="loginLogo" src="/images/logo-skillet.png" /> 
</body>

</html>
