/*------------------------------------------

Recipe list view styles

------------------------------------------*/

body {
	font-family: 'Cantata One', serif;
	font-size: 24px;
	color: #583f60;
	background-color: #eee;
}

.recipeList {
	width: 100%;
	font-size: 16px;
}

div.title-container {
	text-align: center;
}

div.title {
	display: inline-block;
	color: #36273c;
	padding-bottom: 10px;
	border-bottom: 1px solid #dad0dd;
}

div.title > span {
	font-family: 'Cantata One', serif;
	font-size: 32px;
}

.glyphicon-bookmark {
	-webkit-transition: top ease-in-out 0.5s;
  	-moz-transition: top ease-in-out 0.5s;
  	-o-transition: top ease-in-out 0.5s;
  	transition: top ease-in-out 0.5s;
	position: relative;
	top:-25px;
}

.recipeContainer > div {
	display: inline-block;
}

.recipeList .recipeContainer {
	border-bottom: 1px solid #dad0dd;
}

.recipeList .recipeContainer:hover {
	background-color: #e8e6e9;
}

.recipeList .recipeName {
	padding: 5px 10px 5px 15px;
	overflow: hidden;
}

.recipeList .recipe-marked {
	float: left;
	padding: 5px;
	overflow: hidden;
}

.recipeList .recipeCheckbox {
	float: right;
	font-size: 20px;
	min-height: 50px;
	padding: 10px 10px 0 0;
	cursor: pointer;
}

.recipeList .recipeCheckbox:hover {
	color: gray;
	cursor: pointer;
}
