/*------------------------------------------
Global styles
------------------------------------------*/


body {
	font-family: 'Cantata One', serif;
	font-size: 24px;
	color: #583f60;
	background-color: #eee;
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Cantata One', serif;
	margin: 0;
}

input[type="checkbox"] {
	padding-right: 10px;
	float: right;
}

/*------------------------------------------
Unorganized rules
------------------------------------------*/

.title-container {
	text-align: center;
}

.title {
	color: #36273c;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.title > span {
	font-size: 32px;
}

.glyphicon-bookmark {
	-webkit-transition: top ease-in-out 0.5s;
  	-moz-transition: top ease-in-out 0.5s;
  	-o-transition: top ease-in-out 0.5s;
  	transition: top ease-in-out 0.5s;
	position: relative;
	top:-25px;
}

.recipeContainer > div {
	display: inline-block;
}

/*------------------------------------------
View: Recipe List rules
------------------------------------------*/

.recipeList {
	width: 100%;
	font-size: 16px;
	text-align: left;
}

.recipeList .recipeContainer {
	border-bottom: 1px solid #dad0dd;
}

.recipeList .recipeContainer:hover {
	background-color: #e8e6e9;
}

.recipeList .recipeName {
	padding: 5px 10px 5px 15px;
	overflow: hidden;
}
.recipeList .recipeName:hover {
	cursor: default;
}

.recipeList .recipe-marked {
	float: left;
	padding: 5px;
	overflow: hidden;
}

.recipeList .recipeCheckbox {
	float: right;
	font-size: 20px;
	min-height: 50px;
	padding: 10px 10px 0 0;
	cursor: pointer;
}

.recipeList .recipeCheckbox:hover {
	color: gray;
	cursor: pointer;
}

/*------------------------------------------
View: Recipe View rules
------------------------------------------*/

.recipeView {
	text-align: left;
	margin: 10px;
}

.recipeView .header {
	text-transform:uppercase;
	width: 100%;
	line-height: 30px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dad0dd;
}

.recipeView a.back {
	float: right;
	padding: 0;
	width: 40px;
	height: 30px;
	background: url('/images/menu21.png');
	background-size: 100% 100%;
	border: none;
}

.recipeView ol {
	font-size: 13px;
	margin-bottom: 20px;
}

.recipeView li {
	font-size: 13px;
	margin-bottom: 5px;
}

.recipeView .button-large {
	font-size: 14px;
	border: none;
	width: 100%;
	margin-bottom: 10px;
	color: #583f60;
	background: #ddd;
	display: block;
	text-transform: uppercase;
	padding: 5px 0;
	text-align: center;
}
.recipeView .button-large:hover {
	text-decoration: none;
	cursor: pointer;
}

.recipeView p {
	font-size: 13px;
	text-indent: 30px;
	line-height: 1.5;
	margin-bottom: 15px;
}
